.NavBar {
  width: 100%;
  border-bottom: 1px solid white;
}

.NavBar ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
}

.NavBar ul > li {
  margin: 0 40px 0 0;
}

.NavBar a {
  color: white;
  text-decoration: none;
}

.NavBar a:hover {
  color: pink;
}
