@use "../common";

.NavBar {
  width: 100%;
  border-bottom: 1px solid common.$text-color;

  .NavLink {
    @include common.link;

    &.currentPage {
      color: common.$text-color;
    }
  }

  ul {
    display: flex;
    list-style: none;

    li {
      margin-right: 40px;
    }
  }
}
