@use '../../common';

.Loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  width: 100%;

  .spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255, 192, 203, 0.2);
    border-top-color: common.$link-color;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
