@use "../../common";

.Projects {
  .Project {
    display: flex;
    justify-content: space-between;

    @include common.respond-to(tablet) {
      flex-direction: column-reverse;
    }

    @include common.respond-to(desktop) {
      flex-direction: row;

      &:nth-child(2n+1) {
        flex-direction: row-reverse;
      }
    }

    margin: 0 0 50px 0;

    .ProjectImg {
      height: 300px;

      @include common.respond-to(phone) {
        display: none;
      }
    }

    .ProjectCopy {
      margin: 0 10%;
    }
  }
}
