@use "sass:map";

$text-color: white;
$link-color: pink;
$bg-color: #282c34;

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

$-breakpoint-ranges: (
    phone: (max: 599px),
    tablet: (min: 600px, max: 899px),
    desktop: (min: 900px),
);

@mixin respond-to($label) {
    $range: map.get($-breakpoint-ranges, $label);

    @if $range == null {
        @warn "No `#{$label}` entry known";
        @content;
    } @else {
        $query: "";
        @if map.has-key($range, min) {
            $query: "(min-width: #{map.get($range, min)})";
        }
        @if map.has-key($range, max) {
            @if $query != "" {
                $query: $query + " and ";
            }
            $query: $query + "(max-width: #{map.get($range, max)})";
        }
        @media #{$query} {
            @content;
        }
    }
}
