@use "common";

body {
  margin: 0;
  font-family: common.$font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

noscript {
  background-color: #ffffff;
  color: #000000;
}

code {
  font-family: common.$font-family-code;
}
